
  <mat-toolbar #toolbar>
    <mat-toolbar-row>
      <button
        mat-icon-button
        class="example-icon mobilemenu"
        aria-label="Example icon-button with menu icon"
        (click)="hiddenBurger = !hiddenBurger"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="">
        <img class="logo ml-4" src="assets/logo2.png" alt="" />
      </a>
      <span class="example-spacer"></span>

<div class="menu" [hidden]="!hiddenBurger">

  <button mat-button class="nav-item " onclick="this.blur()" routerLink="main" routerLinkActive="active"><h6>Главная</h6></button>
  <button mat-button class="nav-item " onclick="this.blur()"  [routerLink]="['map']" [queryParams]="{}" routerLinkActive="active"><h6>Карта</h6></button>
  <button mat-button class="nav-item " onclick="this.blur()" [routerLink]="['cities','all']" routerLinkActive="active"><h6>Города</h6></button>
  <button mat-button class="nav-item " onclick="this.blur()" [routerLink]="['topics','all']"routerLinkActive="active"><h6>Темы</h6></button>
  <button mat-button class="nav-item " onclick="this.blur()" [routerLink]="['people','all']" routerLinkActive="active"><h6>Люди</h6></button>
  <button mat-button class="nav-item " onclick="this.blur()"  routerLink="partners" routerLinkActive="active"><h6>Партнеры</h6></button>
  <button mat-button class="nav-item " onclick="this.blur()" routerLink="about" routerLinkActive="active"><h6>О форуме</h6></button>
  <button mat-button class="nav-item " onclick="this.blur()" routerLink="contacts" routerLinkActive="active"><h6>Контакты</h6></button>
  
</div>

      <button
        mat-icon-button color="primary"
        class="example-icon"
        aria-label="Example icon-button with share icon"
        *ngIf="!(this.currentUser | async)"
        (click)="openDialog()"
      >
        <mat-icon class="gi-2_5x">fingerprint</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
        *ngIf="this.currentUser | async as user"
        routerLink="admin"
        
        onclick="this.blur()"
      >
        <mat-icon class="gi-2_5x" >face</mat-icon>
      </button>
    </mat-toolbar-row>

    <!-- Burger -->
    <mat-toolbar-row [hidden]="hiddenBurger">
      <button mat-button routerLink="main" (click)="hiddenBurger = !hiddenBurger" routerLinkActive="active">Главная</button>
    </mat-toolbar-row>

    <mat-toolbar-row [hidden]="hiddenBurger">
      <button mat-button routerLink="map" (click)="hiddenBurger = !hiddenBurger" routerLinkActive="active">Карта</button>
    </mat-toolbar-row>

    <mat-toolbar-row [hidden]="hiddenBurger">
      <button mat-button routerLink="cities" (click)="hiddenBurger = !hiddenBurger" routerLinkActive="active">Города</button>
    </mat-toolbar-row>
 
    <!-- <mat-toolbar-row [hidden]="hiddenBurger">
      <button mat-button  [matMenuTriggerFor]="cities" routerLink="cities" routerLinkActive="active">Города</button>

      <mat-menu #cities="matMenu">      
        <ng-container *ngFor="let article of articles |async | groupBy: 'city' " >
            <button mat-menu-item  [matMenuTriggerFor]="articles">{{article.key}}</button>
            <mat-menu #articles="matMenu" >
              <ng-container *ngFor="let anderarticle of article.value ">
                <button mat-menu-item>{{anderarticle.nameArticle}}</button>
              </ng-container>
            </mat-menu>
        </ng-container>
      </mat-menu>
    </mat-toolbar-row> -->

    <!-- <mat-toolbar-row [hidden]="hiddenBurger">
      <button mat-button  [matMenuTriggerFor]="cities" routerLinkActive="active">Люди</button>

      <mat-menu #cities="matMenu">      
        <ng-container *ngFor="let article of articles |async  | groupBy: 'city' " >
            <button mat-menu-item  [matMenuTriggerFor]="articles">{{article.key}}</button>
            <mat-menu #articles="matMenu" >
              <ng-container *ngFor="let anderarticle of article.value ">
                <button mat-menu-item>{{anderarticle.nameArticle}}</button>
              </ng-container>
            </mat-menu>
        </ng-container>
      </mat-menu>
    </mat-toolbar-row> -->


    <!-- <mat-toolbar-row [hidden]="hiddenBurger">
      <button mat-button  [matMenuTriggerFor]="cities" routerLinkActive="active">Идеи</button>

      <mat-menu #cities="matMenu">      
        <ng-container *ngFor="let article of articles |async  | groupBy: 'city' " >
            <button mat-menu-item  [matMenuTriggerFor]="articles">{{article.key}}</button>
            <mat-menu #articles="matMenu" >
              <ng-container *ngFor="let anderarticle of article.value ">
                <button mat-menu-item>{{anderarticle.nameArticle}}</button>
              </ng-container>
            </mat-menu>
        </ng-container>
      </mat-menu>
    </mat-toolbar-row> -->

   <mat-toolbar-row [hidden]="hiddenBurger">
      <button mat-button routerLink="topics" (click)="hiddenBurger = !hiddenBurger" routerLinkActive="active">Темы</button>
    </mat-toolbar-row>

   <mat-toolbar-row [hidden]="hiddenBurger">
      <button mat-button routerLink="people" (click)="hiddenBurger = !hiddenBurger" routerLinkActive="active">Люди</button>
    </mat-toolbar-row>

   <mat-toolbar-row [hidden]="hiddenBurger">
      <button mat-button routerLink="partners" (click)="hiddenBurger = !hiddenBurger" routerLinkActive="active">Партнеры</button>
    </mat-toolbar-row>
    
    <mat-toolbar-row [hidden]="hiddenBurger">
      <button mat-button routerLink="about" (click)="hiddenBurger = !hiddenBurger" routerLinkActive="active">О форуме</button>
    </mat-toolbar-row>

    <mat-toolbar-row [hidden]="hiddenBurger">
      <button mat-button routerLink="contacts" (click)="hiddenBurger = !hiddenBurger" routerLinkActive="active">Контакты</button>
    </mat-toolbar-row>
    <!-- /Burger -->

  </mat-toolbar>




