<mat-drawer-container>
  <mat-drawer
    style="background-color: #f5f5f5;"
    #drawer
    mode="side"
    closed
    role="navigation"
  >
    <div class="p-3 mr-0">
      <mat-slide-toggle
        [color]="'warn'"
        [(ngModel)]="disabled"
        (change)="onClickAllGroup($event.checked)"
        >Фильтр
      </mat-slide-toggle>
    </div>

    <mat-accordion>
      <ng-container *ngFor="let group of navItems | async | groupBy: 'topic'">
        <div class="checkbox_title"></div>
        <mat-expansion-panel
          *ngIf="group.key != 'undefined' && group.key != ''"
        >
          <!-- [expanded]="!!group.completed" -->

          <mat-expansion-panel-header class="pl-2">
            <mat-panel-title
              [style.color]="
                (someComplete(group) && disabled) ||
                (group.completed && disabled)
                  ? 'red'
                  : 'black'
              "
              class="panel-title"
            >
              <span class="font-weight-light">
                {{ group.key }}
              </span>

              <!-- [label]="group.key" -->
              <!-- <mat-optgroup [disabled]="!disabled"> -->
              <!-- {{ group.key }} -->

              <!-- [label]="group.key"  -->
              <!-- </mat-optgroup> -->
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <hr />
          <ul class="p-0">
            <li>
              <mat-checkbox
                [indeterminate]="someComplete(group)"
                [checked]="group.completed"
                [color]="'warn'"
                [disabled]="!disabled"
                [labelPosition]="'after'"
                (change)="
                  setAll($event.checked, group); onClickOptGroup(group.value)
                "
                >Все
                <!-- (change)="setAll($event.checked, group);onClickOptGroup(group.value)" -->
              </mat-checkbox>
            </li>
            <li *ngFor="let article of group.value">
              <mat-checkbox
                [(ngModel)]="article.completed"
                [color]="'primary'"
                (ngModelChange)="updateAllComplete(group)"
                [disabled]="!disabled"
                (change)="onClickMatOption($event.checked, article.id)"
              >
                <span class="font-weight-light">
                  {{ article.nameArticle }}
                </span>
              </mat-checkbox>
            </li>
          </ul>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </mat-drawer>

  <mat-drawer-content>
    <app-markers></app-markers>
    <!-- <router-outlet></router-outlet> -->
  </mat-drawer-content>
</mat-drawer-container>

<app-footer>
  <button
    id="filterButton"
    mat-mini-fab
    color="warn"
    style="opacity: 1;"
    (click)="drawer.toggle()"
    onclick="this.blur()"
  >
    <mat-icon>filter_list</mat-icon>
  </button>
</app-footer>
