.example-flex-container {
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
    justify-content: space-around ;
    align-items: center ;
    align-content: center ;
  }
  
  .example-container {
   text-align: center;
   min-width: 180px;
  }

  .float-right{
    float: right;

  }